################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Colaautomat/bin/Debug
/Colaautomat/obj/Debug
/ModelTests/obj/Debug
/packages
/.vs/Colaautomat/v14/.suo
/ModelTests/bin/Debug
/Colaautomat.Core/bin/Debug
/Colaautomat.Core/obj/Debug
/Colaautomat.Core/obj/Debug
/Colaautomat.JoystickExtension/bin/Debug
/Colaautomat.JoystickExtension/obj/Debug
